huong_dan_chi_tiet/
implementation_plan.md

# .NET core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac
.DS_Store
